{% extends "layout.html.twig" %}

{% block content %}

           
                <h2 dir="rtl">دسته بندی محصولات</h2>
                <div class="prd-catgory">
                    <img src="images/products/clothes01.jpg" alt="clothes" >
                    <p><a href="pooshak.html">پوشاک</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/jewelry01.jpg" alt="jewelry" >
                    <p><a href="jewelry.html">زیور آلات</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/shoes01.jpg" alt="shoes" >
                    <p><a href="shoes.html">کفش</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/perfume0.jpg" alt="perfume" >
                    <p><a href="perfume.html">عطر و ادکلن</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/toy01.jpg" alt="toy" >
                    <p><a href="toy.html">اسباب بازی</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/watch01.jpg" alt="watch" >
                    <p><a href="watch.html">ساعت</a></p>
              
{% endblock %}
