{% extends "layout.html.twig" %}

{% block content %}
<div id="latest-products">
                <h2>پرفروشترین محصولات</h2>
                <div id="real-img">
                    <a name="img1"><img src="images/latest/real/01.jpg" alt="img real 1"></a>
                    <a name="img2"><img src="images/latest/real/02.jpg" alt="img real 2"></a>
                    <a name="img3"><img src="images/latest/real/03.jpg" alt="img real 3"></a>
                    <a name="img4"><img src="images/latest/real/04.jpg" alt="img real 4"></a>
                </div>
                
                <div id="thumb-img-group">
                    <div class="thumb-img"><a href="#img1"><img src="images/latest/thumb/clothes02.jpg" alt="img thumb 1" ></a></div>
                    <div class="thumb-img"><a href="#img2"><img src="images/latest/thumb/shoes02.jpg" alt="img thumb 3" ></a></div>
                    <div class="thumb-img"><a href="#img3"><img src="images/latest/thumb/perfume02.jpg" alt="img thumb 2" ></a></div>
                    <div class="thumb-img"><a href="#img4"><img src="images/latest/thumb/jewelry06.jpg" alt="img thumb 4" ></a></div>
                </div>
                
            </div>
            <div id="category">
                <h2>دسته بندی محصولات</h2>
                <div class="prd-catgory">
                    <img src="images/products/clothes01.jpg" alt="clothes" >
                    <p><a href="pooshak.html">پوشاک</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/jewelry01.jpg" alt="jewelry" >
                    <p><a href="jewelry.html">زیور آلات</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/shoes01.jpg" alt="shoes" >
                    <p><a href="shoes.html">کفش</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/perfume0.jpg" alt="perfume" >
                    <p><a href="perfume.html">عطر و ادکلن</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/toy01.jpg" alt="toy" >
                    <p><a href="toy.html">اسباب بازی</a></p>
                </div>
                <div class="prd-catgory">
                    <img src="images/products/watch01.jpg" alt="watch" >
                    <p><a href="watch.html">ساعت</a></p>
                </div>
            </div>
{% endblock %}
