body{
    background: url(images/shattered.png);
}

#login-box {
    width:333px;
    height: 352px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(images/login-box-backg.png) no-repeat left top;
}

#login-box img {
    border:none;
}

#login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


#login-box-name {
    float: left;
    display:inline;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

#login-box-field {
    float: left;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}
.form-login:hover{
    border: solid 1px #FF5733;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}
#main {
    margin: 0px;
    padding: 0px;
    background-color:gainsboro;
    font-family: yekan, tahoma;
}

#top-menu {
    background-color:white;
    width: 100%;
    height:150px;

}
#navigation{
    background-color: #1e4f8a;
    width: 100%;
    height:50px;
    padding-top:3px;
} 
#navigation ul{
    padding-top:5px;
    float: right;

}
#navigation ul li{
    display: inline;
    list-style: none;
    margin-right: 20px;
}
#navigation ul li a{
    color:white;
    text-decoration: none;
}  

#navigation ul li a:hover{
    color: red;
    text-decoration: none;

}  
#body-menu {
    background-color:antiquewhite;
    width: 70%;
    height:900px;
    margin-left:200px;
}

#footer {
    background-color:darkgray;
    width: 100%;
    height:200px;
}


/*body {
    margin: 0px;
    padding:0px; 
}*/
#category{
    /*    background-color: #FFF6E5;*/
    width: 98%;
    height: auto;
    margin-bottom: 2px;
    float: left;
    padding-left: 2%;
}
.prd-catgory, .single-prd {
    background-color:#3E454C;
    width: 300px;
    height: 370px;
    float: left;
    margin:10px 6px;
    border: solid 2px #3E454C;
    border-radius: 5px;
}

/*.prd-catgory img{
    border-radius: 15px 15px 0px 0px;
}*/

.prd-catgory p{
    text-align: center;
    color: #fff;
}

.single-prd p{
    text-align: right;
    direction: rtl;
    color: #fff;
    margin-top: -5px;
    padding-right: 15px;
}

.single-prd a{
    float: left;
    margin-top: -50px;
    padding-left: 10px;
}

.prd-catgory a{
    color: #fff;
    text-decoration: none;
}

.prd-catgory a:hover{
    /*text-decoration: underline;*/
    color: #2185C5;
}

.prd-catgory:hover, .single-prd:hover{
    /*border: solid 5px #3E454C;*/
    box-shadow: 3px 3px 5px 6px #0d2c52;
}

#table-product{
    box-shadow: 3px 3px 5px 6px #0d2c52;

}

select-box-category{
    background-color: #2185C5;
}

#box-product {
    width:900px;
    height:600px;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
    border-radius:5px;
    box-shadow: 3px 3px 5px 6px  #0d0d26;
    color: #ebebeb;
    background: url(images/website-background.jpg);
}


/*.form-create  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;

}*/

.submit{

    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;

}

.form-create{

    margin-bottom: 2px;
    border: solid 1px #3E454C;
    border-radius: 5px;
    /*    font-family: yekan ,tahoma;*/
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.form-create :hover{
    border: solid 1px #2185C5;
}
.btn-form-create{
    width: 80px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: solid 1px #E74C3C;
    border-radius: 5px;
    font-family: yekan ,tahoma;
    background-color: #5499C7;
    color: #fff;
}

.btn-form-create:hover{
    background-color: #E74C3C;
    color: #fff;
    border: solid 1px #E74C3C;
    cursor: pointer;
}
#contact form{
    float: right;
    margin-left: 30px;
    margin-top:100px;
}

.txt-contact, .area-contact{
    width: 220px;
    margin-bottom: 2px;
    padding: 5px;
    text-align: center;
    border: solid 1px #3E454C;
    border-radius: 5px;
    font-family: yekan ,tahoma;
}

.txt-contact:hover, .area-contact:hover{
    border: solid 1px #2185C5;
}

.btn-contact{
    width: 80px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 5px;
    font-family: yekan ,tahoma;
    background-color: #3E454C;
    color: #fff;
}

.btn-contact:hover{
    background-color: #2185C5;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
}
