
{% extends "layout.html.twig" %}

{% block content %}
    {% if message is not empty %}
        <strong>{{message}}</strong>
    {% endif %}
    {# <form action="" method="post">
         ایمیل: <input type="text" name="email"><br>
         رمز: <input type="password" name="password"><br>
         <input type="submit">
     </form>#}
    <H2>ورود به سیستم</H2>
    <form action="" method="post">
        <br />
        <br />
        <div id="login-box-name" style="margin-top:20px;">ایمیل</div><div id="login-box-field" style="margin-top:20px;"><input name="email" type="text" class="form-login"  size="30" maxlength="2048" /></div>
        <div id="login-box-name">رمز ورود</div><div id="login-box-field"><input name="password" type="password" class="form-login"  size="30" maxlength="2048" /></div>
        <br />
        <span class="login-box-options"><input type="checkbox" name="rememberMe" value="1"> مرا به خاطر بسپار </span>
        <br />
        <br />
        <input type="submit"  value="ورود">  

    </form>
{% endblock %}



